body {
  background-color: #f7b545;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  margin: 1rem auto;
  color: #444;
  font-weight: lighter;
}

h2 {
  font-size: 1.3rem;
}

#main {
  width: 60%;
  margin: 0 auto;
  background-color: #f0efef;
  padding: 1.5rem;
}

a {
  color: #444;
}

#row {
  margin: 1rem;
}

#delete-btn {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f0efef;
  color: #333;
  border: 1px solid #d89a2f;
  width: 55px;
  border-radius: 15px;
  padding: 7px;
  margin: 10px;
  box-shadow: 0px 2px 4px #ccc;
}
