body {
  width: 160px;
  height: 160px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

h1 {
  font-size: 1.2rem;
  background-color: #f7b545;
  color: #444;
  font-weight: lighter;
  margin: 0 auto;
  padding: 7px 0;
  text-align: center;
}

#time-input {
  width: 80px;
  height: 25px;
  margin: 15px 0;
}

#buttons {
  display: flex;
  justify-content: center;
}

#hours-btn,
#days-btn {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f0efef;
  color: #333;
  border: 1px solid #d89a2f;
  width: 55px;
  border-radius: 10px;
  padding: 7px;
  margin: 5px;
  box-shadow: 0px 2px 4px #ccc;
}

#manage-tabs {
  background-color: #f7b545;
  padding: 8px 0;
  color: #444;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}
